@{
    ViewData["Title"] = "Home Page";
}
<h1> Test </h1>
@if (Model != null)
{
@foreach(var contact in Model)
    {
        <li><a href='/contact/@contact.Key'>@contact.Value.GetName() - @contact.Key</a></li>
    }
}




<p><a href='/'>Return to Main Page</a></p>