@{
    ViewData["Title"] = "Home Page";
}
<h1> Test </h1>
<style>.card-columns {display: inline-block}</style>
@if (Model != null)
{
<div class="card-deck" style="display: inline-block">
@foreach(var contact in Model)
    {
        <div class="col-xl-6">
            <div class="card" style="width: 20rem">
                <div class="card-block">
                    <h4 class="card-title">@contact.Value.GetName() #@contact.Key</h4>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><p>Phone:</p>@contact.Value.GetPhone(true)</li>
                        <li class="list-group-item">@contact.Value.GetAddress().GetFullAddress()</li>
                    </ul>
                </div>
                <div class="card-footer">
                <small class="text-muted"><a href="/contact/@contact.Key" class="btn btn-primary">View Contact Details</a></small>
            </div>
        </div>
        </div>
    }
</div>
}

<div class="container-fluid">
    <hr>
<a href='/addcontact'>Add A Contact</a>
</div>